@{
    ViewData["Title"] = "Destino - Bora Ali";
}
<link rel="stylesheet" href="~/css/Destino.css" asp-append-version="true" />
<link href="~/img/iconbus-rem.png" rel="icon">

<section class="info-page ">
        <div class="info">
            <h1>Encontre os melhores destinos<br/> com preços <span>incríveis</span></h1>

        </div>
    </section>






<div class="row-1">
            <div class="card green">
              <h1>O seu melhor destino <br/>começa em</h1>
              <h2> <mark style="background-color: greenyellow;">Porto - Portugal </mark> </h2>
              <h3>R$ 2.356,00</h3>
              <img class="image" src="~/img/1241_portugal.jpg" alt="money" />
              <button>Fazer Reserva</button>
            </div>
       
            <div class="card blue">
                <h1> Aventuras garantidas <br/> e muitas descobertas</h1>
                <h2> <mark  style="background-color: greenyellow;">Dubai </mark> </h2>
                <h3>R$ 6.356,00</h3>
                <img class="image h-50" src="~/img/dubai.jpg" alt="money" />
                <button>Fazer Reserva</button>
            </div>
       
            <div class="card red">
                <h1>É o verdadeiro paraíso <br/> na terra</h1>
                <h2> <mark  style="background-color: greenyellow;">Ilhas Maldivas</mark> </h2>
                <h3>R$ 8.356,00</h3>
                <img class="image h-50" src="~/img/ilhas-maldivas.png" alt="money" />
                <button>Fazer Reserva</button>
            </div>
          </div>  
          <div class="row-1">
            <div class="card green">
              <h1>O seu melhor destino <br/>começa em</h1>
              <h2> <mark style="background-color: greenyellow;">Holanda </mark> </h2>
              <h3>R$ 5.756,00</h3>
              <img class="image h-50" src="~/img/dubai.jpg" alt="money" />
              <button class="top-25">Fazer Reserva</button>
            </div>
       
            <div class="card blue">
                <h1>O seu melhor destino <br/>começa em</h1>
                <h2> <mark style="background-color: greenyellow;">Malibu </mark> </h2>
                <h3>R$ 10.356,00</h3>
                <img class="image h-50" src="~/img/ilhas-maldivas.png" alt="money" />
                <button>Fazer Reserva</button>
            </div>
       
            <div class="card red">
                <h1>O seu melhor destino <br/>começa em</h1>
                <h2> <mark  style="background-color: greenyellow;">Porto - Portugal </mark> </h2>
                <h3>R$ 2.356,00</h3>
                <img class="image h-50" src="~/img/1241_portugal.jpg" alt="money" />
                <button>Fazer Reserva</button>
            </div>
          </div>  
