@{
    ViewData["Title"] = "Página Inicial - Bora Ali";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="icon" type="image/png" href="~/img/iconbus-rem.png" />

<section class="home">
        <div class="page">
         <img src="~/img/mulherviajante.png" />

        </div> <!--Fim Page-->
        <div class="social-media" >
           <a href=""><img src="~/img/instagram.png"/></a>
           <a href=""><img src="~/img/facebook.png"/></a>
           <a href=""><img src="~/img/rede.png"/></a>
            

        </div><!--Fim Icones-->
        <div class="sobre"> <!--Sobre-->
            <div class="texto-sobre">
                <h1>A viagem dos seus sonhos<br/>
                    você encontra na <span >BORA ALI</span>
                </h1>
                <p>
                     “Viaje, pois o dinheiro volta. O tempo não. 
                     Aproveite cada minuto da sua viagem,<br/> o tempo não volta... o que volta é a vontade de voltar no tempo”.
                </p>
                <button>Conhecer Pacotes</button>
               

            </div><!--Fim Texto-->

        </div><!--Fim Sobre-->

    </section> <!--fim Home-->
  <div class="texto-footer">
                
                <p> &copy; Bora Ali | Todos os direitos reservados.</p>
              </div>
