@{
    ViewData["Title"] = "Promoções - Bora Ali";
}

<link rel="stylesheet" href="~/css/Promo.css" asp-append-version="true" />

<section class="info-page">
        <div class="informacoes">
            <div  class="imagem">
            <img src="~/img/homempromo.png"  alt="homem feliz" />
            </div>
            <div  class="texto">
            <h1>Confira nossas<br/>  <span>Promoçoes</span></h1>
            </div>
         
        </div>
    </section> 
     
    <div class="row-1">
        <div class="card green">
          <h1>O seu melhor destino <br/>começa em</h1>
          <h2> <mark style="background-color: greenyellow;">Porto - Portugal </mark> </h2>
          <h3>R$ 2.356,00</h3>
          <h4><s>R$ 3.560,00</s></h4>
          <img class="image" src="~/img/1241_portugal.jpg" alt="money" />
          <button>Fazer Reserva</button>
        </div>
   
        <div class="card blue">
            <h1> Aventuras garantidas <br/> e muitas descobertas</h1>
            <h2> <mark  style="background-color: greenyellow;">Dubai </mark> </h2>
            <h3>R$ 5.356,00</h3>
            <h4><s>R$ 8.560,00</s></h4>
            <img class="image" src="~/img/dubai.jpg" alt="money" />
            <button>Fazer Reserva</button>
        </div>